{% extends 'commentapp/base.html' %}


{% block content %}
<!-- Start your project here-->
<div class="jumbotron jumbotron-fluid">
<div class="container">
    <h3 class="display-4 text-center">コメント欄</h3>
    <br>
    <a href="{% url 'commentapp:post_create' %}"><button type="button" class="btn aqua-gradient btn-rounded mx-auto d-block">コメントする</button></a>
</div>
</div>
<br>


<!--start comment-->
<div class="container">  
    <div class="row">
    {% for item in post_list %}
    <div class="col-md-11 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th width="100%"><a href="{% url 'commentapp:post_detail' item.id %}"><p class="h4">{{item.title}}</p><small>&nbsp;&nbsp;&nbsp;by&nbsp;{{item.author}}</small>
                    <small class="h6">
                    {% if item.updated_at %}
                        <p class="float-right" width="100%">{{item.updated_at}}<p>
                    {% else %}
                        <p class="float-right" width="100%">{{item.created_at}}<p>
                    {% endif %}
                    </small>
                    </a></th>
                    
                    
                    
                </tr>
            </thead>
        </table>            
        <p class="comment-text">{{item.content|safe|linebreaksbr|urlize}}</p>   
        <hr>
        
        <br>
        <br>
        
    </div>
    {% endfor %} 
 
</div>
{% include 'commentapp/pagenation.html' %}
<br>
<br>
</div> 
{% endblock %}

